<h1>Posts</h1>
<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <div>
  <div>
    <strong><%= post.title %></strong>
    <div>
      <%= post.body %>
    </div>
  </div>
<% end %>
